#Banco
DATABASE_URL="postgresql://postgres.SEU_REF:SUA_SENHA@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"

#JWT
JWT_SECRET="************"
JWT_EXPIRES_IN="7d"
JWT_REFRESH_SECRET="********"

#Servidor
PORT=3333
NODE_ENV=development

#Front
FRONTEND_URL="http://localhost:3000"
API_URL="http://localhost:3333"

#E-mail
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USER=seuemail@gmail.com
MAIL_PASS="**** **** **** ****"
MAIL_FROM="Menupoint <seuemail@gmail.com>"

#Whatsapp
ZAPI_INSTANCE_ID=sua_instancia
ZAPI_TOKEN=seu_token
WHATSAPP_NOTIFICACOES=5511999999999

#Mercado Pago
MP_ACCESS_TOKEN=TEST-...
MP_PUBLIC_KEY=TEST-...
MP_PLAN_ID_BASICO=01c20d4f59594546a568a8b2a5129323
MP_PLAN_ID_PRO=0622f5918e9d44b18f4a1aee6bb9e652